<!--
		
		Spiegazione del codice:
		Estensione del template:
		
		{% extends 'base.html.twig' %}: Estende il template base.html.twig, che di solito contiene la struttura HTML di base.
		Blocco body:
		
		{% block body %} ... {% endblock %}: Definisce il contenuto del blocco body, che sarà inserito nel layout di base.
		Inizio del form:
		
		{{ form_start(form) }}: Genera il tag di apertura del form e gestisce la configurazione del form.
		Titolo del form:
		
		{{ form.vars.data.id is null ? 'Create Post' : 'Update Post ' }}: Visualizza 'Create Post' se l'ID del post è null (indicando che è un nuovo post), altrimenti visualizza 'Update Post' (indicando che si sta modificando un post esistente).
		Campo titolo del post:
		
		{{ form_label(form.title) }}: Visualizza l'etichetta del campo title.
		{{ form_widget(form.title, {'attr': {'class': 'form-control'}}) }}: Visualizza il widget del campo title con la classe CSS form-control.
		Campo contenuto del post:
		
		{{ form_label(form.content) }}: Visualizza l'etichetta del campo content.
		{{ form_widget(form.content, {'attr': {'class': 'form-control'}}) }}: Visualizza il widget del campo content con la classe CSS form-control.
		Pulsante di submit:
		
		<button type="submit" class="btn btn-primary mt-2">: Crea un pulsante di submit con le classi CSS btn btn-primary mt-2.
		{{ form.vars.data.id is null ? 'Save Post' : 'Update Post ' }}: Il testo del pulsante sarà 'Save Post' se l'ID del post è null (indicando che è un nuovo post), altrimenti sarà 'Update Post'.
		
-->

{# Estende il template base.html.twig #}
{% extends 'base.html.twig' %}

{# Definisce il blocco body #}
{% block body %}
    <div class="mt-4">
        {# Inizia il form #}
        {{ form_start(form) }}
        
        {# Mostra il titolo del form, 'Create Post' se il post è nuovo, 'Update Post' se si sta modificando un post esistente #}
        <h3>
            {{ form.vars.data.id is null ? 'Create Post' : 'Update Post ' }}
        </h3>

        {# Campo per il titolo del post #}
        <div class="form-group">
            {{ form_label(form.title) }} {# Etichetta del campo title #}
            {{ form_widget(form.title, {'attr': {'class': 'form-control'}}) }} {# Widget del campo title con la classe CSS 'form-control' #}
        </div>

        {# Campo per il contenuto del post #}
        <div class="form-group">
            {{ form_label(form.content) }} {# Etichetta del campo content #}
            {{ form_widget(form.content, {'attr': {'class': 'form-control'}}) }} {# Widget del campo content con la classe CSS 'form-control' #}
        </div>

        </br>
        
        {# Pulsante di submit, 'Save Post' se il post è nuovo, 'Update Post' se si sta modificando un post esistente #}
        <button type="submit" class="btn btn-primary mt-2">
            {{ form.vars.data.id is null ? 'Save Post' : 'Update Post ' }}
        </button>
    </div>
{% endblock %}
